@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About BookTrack</h1>
    <p>This is the about page for BookTrack</br>An app where you can enter books you have read or are on you're shelf.</p>
</div>
