@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookTrack</h1>
    <p>Welcome to BookTrack.</br>An app where you can enter books you have read or are on you're shelf.</p>
</div>
